<div class="container mt-5">
    <h2 class="mb-4 p">Portfolio</h2>
    <div class="row card-containers">
      <div class="col-md-4 mb-3">
        <div class="card text-white portfolio-card ">
          <div class="card-body">
            <h5 class="card-title">Web Design</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card text-white portfolio-card">
          <div class="card-body">
            <h5 class="card-title">Mobile Design</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card text-white portfolio-card">
          <div class="card-body">
            <h5 class="card-title">Logo Design</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card text-white portfolio-card">
          <div class="card-body">
            <h5 class="card-title">Web Application Development</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card text-white portfolio-card">
          <div class="card-body">
            <h5 class="card-title">Mobile Application Development</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card text-white portfolio-card">
          <div class="card-body">
            <h5 class="card-title">PWA Development</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  