.portfolio-card {
  height: 300px;
  background-color: var(--bs-secondary);
  display: grid;
  place-items: center;
}

.card-containers > div:nth-child(even) .portfolio-card {
  background-color: var(--bs-primary);
}
