<div class="container-fluid">
    <div class=" container skills-section">
        <h2>skills</h2>
        <p>Proficient in the Backend (Express.js, Node.js, MongoDB, Postgresql, Typescript). With a strong
            foundation in back-end development, I bring a creative approach to problem-solving and a passion for
            delivering high-quality software solutions.</p>
    </div>
    <div class="row mt-5 ">
        <div class="col-md-5 col2">
            <h2>MY FOCUS</h2>
            <br>
            <ul class="list-unstyled">
                <li class="m-2">Web development</li>
                <li class="m-2">front-end</li>
                <li class="m-2">back-end</li>
            </ul>
        </div>
        <div class="col-md-6 col3">
            <div class="skill">
                <span>HTML</span>
                <div class="progress-bar">
                    <div class="progress" style="width: 90%;"></div>
                </div>
            </div>
            <div class="skill">
                <span>CSS</span>
                <div class="progress-bar">
                    <div class="progress" style="width: 85%;"></div>
                </div>
            </div>
            <div class="skill">
                <span>JavaScript</span>
                <div class="progress-bar">
                    <div class="progress" style="width: 75%;"></div>
                </div>
            </div>
            <div class="skill">
                <span>Angular</span>
                <div class="progress-bar">
                    <div class="progress" style="width: 80%;"></div>
                </div>
            </div>
            <div class="skill">
                <span>Express</span>
                <div class="progress-bar">
                    <div class="progress" style="width: 65%;"></div>
                </div>
            </div>
            <div class="skill">
                <span>Typescript</span>
                <div class="progress-bar">
                    <div class="progress" style="width: 70%;"></div>
                </div>
            </div>
            <div class="skill">
                <span>Node.js</span>
                <div class="progress-bar">
                    <div class="progress" style="width: 60%;"></div>
                </div>
            </div>
            <div class="skill">
                <span>WordPress</span>
                <div class="progress-bar">
                    <div class="progress" style="width: 55%;"></div>
                </div>
            </div>
        </div>
    </div>
</div>